#adminBar, #barOpen { font: 11px/12px "Helvetica Neue","Lucida Grande", Arial, sans-serif; color: #eee; background: #111; position: absolute; z-index: 9999; zoom: 1; }
#adminBar { padding: 8px 45px 8px 10px; color: #666; background: #000; top: 0; right: 2px; border-radius: 10px; border-top-right-radius:0; border-top-left-radius: 0; }
#adminBar a, #adminBar span, #barOpen { margin: auto 9px auto 5px; color: #3e7d9c; text-decoration: none; outline: none; white-space: nowrap; }
#adminBar span { color: #333}
#adminBar a:hover, #barOpen:hover { color:#6cf;}
#adminBar .right { float: right;}

#adminBar.closed { display: none; }
#barOpen { position: absolute; z-index:9999; top:0; right: 9px; padding: 3px 9px 6px; display: block; float: right; background: #222; margin: 0; border-radius: 5px; border-top-right-radius:0; border-top-left-radius: 0; }
#barOpen:hover { background: #333;}

.firsttime #adminBar { font-size: 18px; line-height: 27px; padding-right: 10px; right: 61px}
.firsttime #barOpen { display: none; }