<?xml version="1.0" encoding="UTF-8"?>
<config>
	<imagevue>
		<style>
			<background_color>0D1C31</background_color>
			<foreground_color>FFFFFF</foreground_color>
			<custom_color>ABCDE9</custom_color>
			<background_image>
				<url>background.swf</url>
				<align>M</align>
				<repeat>no-repeat</repeat>
			</background_image>
			<globalshadow>
				<blur>6</blur>
			</globalshadow>
		</style>
		<controls>
			<maincontrols>
				<button>
					<background_color>background_color</background_color>
					<opacity>100</opacity>
					<opacity_rollover>75</opacity_rollover>
					<opacity_press>50</opacity_press>
				</button>
			</maincontrols>
			<largecontrols>
				<color>background_color</color>
			</largecontrols>
		</controls>
		<audioplayer>
			<color>FFFFFF</color>
		</audioplayer>
		<image>
			<imagebuttons>
				<color>background_color</color>
			</imagebuttons>
		</image>
		<thumbnails>
			<thumbnails>
				<frame>
					<space>9</space>
					<color>FFFFFF</color>
				</frame>
				<thumbnail>
					<active_scale>120</active_scale>
				</thumbnail>
			</thumbnails>
			<thumbnailscroller>
				<back_color>background_color</back_color>
			</thumbnailscroller>
			<tooltip>
				<color>background_color</color>
			</tooltip>
		</thumbnails>
		<textpage>
			<background>
				<color>background_color</color>
				<opacity>100</opacity>
				<scrollbar_color>background_color</scrollbar_color>
			</background>
		</textpage>
		<menu>
			<mainmenu>
				<menuitem>
					<color>background_color</color>
				</menuitem>
				<menuback>
					<color>background_color</color>
				</menuback>
			</mainmenu>
		</menu>
	</imagevue>
</config>
