<?xml version="1.0" encoding="UTF-8"?>
<config>
	<imagevue>
		<style>
			<background_color>FCFFEC</background_color>
			<foreground_color>7C8E20</foreground_color>
			<custom_color>FCFFEC</custom_color>
			<background_image>
				<url>background.jpg</url>
				<align>M</align>
				<repeat>no-repeat</repeat>
			</background_image>
			<globalshadow>
				<strength>40</strength>
				<blur>4</blur>
			</globalshadow>
		</style>
		<controls>
			<maincontrols>
				<button>
					<background_color>foreground_color</background_color>
					<foreground_color>background_color</foreground_color>
					<width>40</width>
					<height>30</height>
				</button>
			</maincontrols>
			<largecontrols>
				<color>foreground_color</color>
				<arrow_color>background_color</arrow_color>
			</largecontrols>
		</controls>
		<audioplayer>
			<color>foreground_color</color>
		</audioplayer>
		<image>
			<frame>
				<width>15</width>
				<frameborder>
					<color>foreground_color</color>
				</frameborder>
			</frame>
			<text>
				<text1>
					<offset_x>6</offset_x>
					<background_color>FFFFFF</background_color>
				</text1>
				<text2>
					<padding>12</padding>
					<offset_y>75</offset_y>
					<background_color>background_color</background_color>
				</text2>
			</text>
		</image>
		<thumbnails>
			<thumbnails>
				<frame>
					<space>5</space>
					<color>FFFFFF</color>
				</frame>
				<thumbnail>
					<active_scale>100</active_scale>
					<active_opacity>80</active_opacity>
					<shadow>true</shadow>
				</thumbnail>
			</thumbnails>
			<thumbnailscroller>
				<start_brightness>80</start_brightness>
				<space>5</space>
				<frame_width>2</frame_width>
				<frame_color>FFFFFF</frame_color>
				<frame_color_active>background_color</frame_color_active>
				<back_color>foreground_color</back_color>
				<back_alpha>30</back_alpha>
				<back_alpha_active>30</back_alpha_active>
			</thumbnailscroller>
		</thumbnails>
		<textpage>
			<background>
				<opacity>50</opacity>
				<shadow>true</shadow>
			</background>
		</textpage>
		<menu>
			<mainmenu>
				<menuitem>
					<opacity>25</opacity>
					<opacity_active>50</opacity_active>
					<opacity_rollover>75</opacity_rollover>
					<minimum_width>180</minimum_width>
				</menuitem>
				<menuback>
					<opacity>100</opacity>
					<opacity_rollover>50</opacity_rollover>
				</menuback>
			</mainmenu>
		</menu>
	</imagevue>
</config>
