<?xml version="1.0" encoding="UTF-8"?>
<config>
	<imagevue>
		<style>
			<background_color>FFFFFF</background_color>
			<foreground_color>666666</foreground_color>
			<custom_color>EEEEEE</custom_color>
			<background_image>
				<enabled>false</enabled>
				<url>lined.png</url>
				<repeat>repeat</repeat>
			</background_image>
			<background_image_2>
				<url>radial.swf</url>
				<align>M</align>
				<repeat>no-repeat</repeat>
				<scalemode>exactFit</scalemode>
			</background_image_2>
			<background_image_3>
				<url>denim.png</url>
			</background_image_3>
			<globalshadow>
				<enabled>false</enabled>
				<strength>40</strength>
				<blur>5</blur>
			</globalshadow>
		</style>
		<controls>
			<maincontrols>
				<button>
					<background_color>background_color</background_color>
					<width>40</width>
					<height>50</height>
					<opacity>0</opacity>
					<opacity_rollover>0</opacity_rollover>
					<opacity_press>0</opacity_press>
				</button>
			</maincontrols>
			<largecontrols>
				<size>35</size>
				<opacity>30</opacity>
			</largecontrols>
		</controls>
		<audioplayer>
			<color>foreground_color</color>
			<backcolor>custom_color</backcolor>
		</audioplayer>
		<image>
			<imagebuttons>
				<color>background_color</color>
				<width>35</width>
				<height>25</height>
				<shadow>false</shadow>
			</imagebuttons>
			<closebutton>
				<iconcolor>foreground_color</iconcolor>
			</closebutton>
			<frame>
				<width>1</width>
				<color>background_color</color>
				<shadow>false</shadow>
			</frame>
			<text>
				<text2>
					<offset_y>80</offset_y>
					<background_color>custom_color</background_color>
				</text2>
			</text>
		</image>
		<thumbnails>
			<thumbnails>
				<frame>
					<width>0</width>
					<space>1</space>
					<color>background_color</color>
				</frame>
				<thumbnail>
					<active_scale>100</active_scale>
					<active_opacity>80</active_opacity>
				</thumbnail>
			</thumbnails>
			<thumbnailscroller>
				<start_brightness>80</start_brightness>
				<space>0</space>
				<frame_width>0</frame_width>
				<frame_color>FFFFFF</frame_color>
				<back_color>background_color</back_color>
				<back_alpha>0</back_alpha>
				<back_alpha_active>0</back_alpha_active>
			</thumbnailscroller>
			<tooltip>
				<shadow>false</shadow>
			</tooltip>
		</thumbnails>
		<textpage>
			<background>
				<scrollbar_color>background_color</scrollbar_color>
				<scrollbar_arrow_color>custom_color</scrollbar_arrow_color>
			</background>
		</textpage>
		<menu>
			<mainmenu>
				<indent>15</indent>
				<horizontal_margin>10</horizontal_margin>
				<menubutton_height>70</menubutton_height>
				<menuitem>
					<opacity>0</opacity>
					<opacity_rollover>100</opacity_rollover>
					<horizontal_textmargin>10</horizontal_textmargin>
					<vertical_textmargin>5</vertical_textmargin>
				</menuitem>
				<menuback>
					<opacity>0</opacity>
					<opacity_rollover>100</opacity_rollover>
					<color>FFFFFF</color>
					<shadow>true</shadow>
				</menuback>
				<folderdescription>
					<padding>15</padding>
				</folderdescription>
				<menubutton_icon>
					<enabled>true</enabled>
					<color>custom_color</color>
				</menubutton_icon>
			</mainmenu>
		</menu>
		<modules>
			<hotspot>
				<color>background_color</color>
			</hotspot>
		</modules>
	</imagevue>
</config>
