<?xml version="1.0" encoding="UTF-8"?>
<config>
	<imagevue>
		<style>
			<background_color>FFFFFF</background_color>
			<foreground_color>9BB0DB</foreground_color>
			<custom_color>FFFFFF</custom_color>
			<background_image>
				<url>background.jpg</url>
				<align>M</align>
				<repeat>no-repeat</repeat>
			</background_image>
			<globalshadow>
				<strength>25</strength>
				<blur>4</blur>
			</globalshadow>
		</style>
		<controls>
			<maincontrols>
				<button>
					<background_color>foreground_color</background_color>
					<foreground_color>background_color</foreground_color>
					<width>45</width>
				</button>
			</maincontrols>
			<largecontrols>
				<color>foreground_color</color>
				<arrow_color>background_color</arrow_color>
			</largecontrols>
		</controls>
		<audioplayer>
			<color>foreground_color</color>
		</audioplayer>
		<image>
			<imagebuttons>
				<iconcolor>7D98D0</iconcolor>
				<height>40</height>
			</imagebuttons>
			<frame>
				<width>20</width>
				<frameborder>
					<enabled>true</enabled>
					<color>foreground_color</color>
				</frameborder>
			</frame>
			<text>
				<text1>
					<padding>8</padding>
					<offset_x>8</offset_x>
				</text1>
				<text2>
					<background_color>background_color</background_color>
					<background_opacity>100</background_opacity>
					<offset_y>80</offset_y>
				</text2>
			</text>
		</image>
		<thumbnails>
			<thumbnails>
				<frame>
					<width>8</width>
					<space>10</space>
					<color>FFFFFF</color>
				</frame>
				<thumbnail>
					<active_scale>120</active_scale>
					<active_opacity>80</active_opacity>
					<shadow>true</shadow>
				</thumbnail>
				<thumbshadow>true</thumbshadow>
			</thumbnails>
			<thumbnailscroller>
				<start_brightness>80</start_brightness>
				<space>0</space>
				<frame_width>0</frame_width>
				<frame_color>FFFFFF</frame_color>
				<frame_color_active>5C85AD</frame_color_active>
				<back_color>foreground_color</back_color>
				<back_alpha>0</back_alpha>
				<back_alpha_active>0</back_alpha_active>
			</thumbnailscroller>
		</thumbnails>
		<textpage>
			<background>
				<opacity>40</opacity>
				<shadow>true</shadow>
			</background>
		</textpage>
		<menu>
			<mainmenu>
				<menuitem>
					<opacity>50</opacity>
					<opacity_rollover>75</opacity_rollover>
				</menuitem>
				<menuback>
					<opacity>100</opacity>
					<opacity_rollover>30</opacity_rollover>
				</menuback>
			</mainmenu>
		</menu>
	</imagevue>
</config>
