/* Imagevue CSS Document */

/* Supported styles for Flash:
font-family - A comma-separated list of fonts to use, in descending order of desirability. Any font family name can be used.
font-size - Only the numeric part of the value is used; units (px, pt) are not parsed; pixels and points are equivalent.
font-weight - Recognized values are normal and bold.
font-style - Recognized values are normal and italic.
color - Only hexadecimal color values are supported. Named colors (like blue) are not supported.
text-decoration - Recognized values are none and underline.
text-align - Recognized values are left, center, and right.
margin-left - Only the numeric part of the value is used. Units (px, pt) are not parsed; pixels and points are equivalent.
margin-right - Only the numeric part of the value is used. Units (px, pt) are not parsed; pixels and points are equivalent.
text-indent - Only the numeric part of the value is used. Units (px, pt) are not parsed; pixels and points are equivalent.
display - Supported values are inline, block, and none.
leading - Space after end of line
letter-spacing - Space between letters
*/

/* Guidelines:
- Allways use # in front of colors
*/

body {
	font-family: "standard 07_53";
	font-size: 8px;
	color: #9bb0db;
}
a:link {
	color: #7D98D0;
}
.mainmenu {
	font-family: "standard 07_53";
}
.mainmenu_menubutton {
	font-family: "standard 07_63";
}
.mainmenu_node {
	font-family: "standard 07_63";
}
.mainmenu_title {
}
.mainmenu_title_hover {
	color: #7D98D0;
}
.mainmenu_amount{
}
.mainmenu_textPage{
	font-family: "standard 07_63";
}
.mainmenu_link{
	font-family: "standard 07_63";
}
.mainmenu_filemod{
	font-family: "standard 07_63";
}
.mainmenu_hasFiles{
	color: #7D98D0;
	font-family: "standard 07_63";
}
.mainmenu_hasFolders{
}
.mainmenu_password {}
.mainmenu_share {}
.mainmenu_level1 {}
.mainmenu_level2 {}
.mainmenu_level3 {}
.mainmenu_level4 {}
.mainmenu_level5 {}
.folderdescription_title{
	font-family: "standard 07_63";
	color: #7D98D0;
	leading: 2px;
}
.folderdescription_amount{
	font-family: "standard 07_53";
}
.folderdescription_date{
	leading: 3px;
	color: #9bb0db;
}
.folderdescription_description{
	color: #7D98D0;
	leading: 1px;
}
.thumbnails{
	font-family: "standard 07_53";
	leading: 1
}
.thumbnails_breadcrumbs{
}
.thumbnails_title{
	font-family: "standard 07_63";
}
.thumbnails_description{
}
.thumbnails_page{
	font-family: "standard 07_53";
}
.thumbnails_separator {
}
.tooltip{
	font-family: "standard 07_53";
}
.tooltip_title{
	font-family: "standard 07_63";
	leading: 2px;
}
.tooltip_description{
}
.tooltip_name{
}
.tooltip_date{
}
.maincontrols {
	font-family: "standard 07_53";
}
.text_1 {
	font-family: "standard 07_53";
}
.text_1_imageindex {
}
.text_1_title {
	font-family: "standard 07_63";
	leading: 2;
}
.text_1_filename {
}
.text_1_dimensions {
}
.text_1_filesize {
}
.text_1_date {
}
.text_1_exif {
}
.text_1_description {
}
.text_1_folderdescription {
}
.text_1_filelink {
}
.text_1_download {
}
.text_1_folderpath{
}
.text_1_foldername{
}
.text_1_abslink{
}
.text_1_custom{
}
.text_1_link{
}
.text_1_purchase{
}
.text_1_maplink {
	font-size: 16px;
}
.text_2 {
	font-family: "standard 07_53";
}
.text_2_imageindex {
}
.text_2_title {
	font-family: "standard 07_63";
}
.text_2_filename {
}
.text_2_dimensions {
}
.text_2_filesize {
}
.text_2_date {
}
.text_2_exif {
}
.text_2_description {
}
.text_2_folderdescription {
}
.text_2_filelink {
}
.text_2_download {
}
.text_2_folderpath{
}
.text_2_foldername{
}
.text_2_abslink{
}
.text_2_custom{
}
.text_2_link{
}
.text_2_purchase{
}
.text_3_fotomoto {
	text-align: right;
}
.exif_name {
}
.exif_value {
}
/* You can set specific styles to specific EXIF tags, like the 3 exampels below which target the EXIF "model" attribute */
.exif_model{
	leading: 1;
}
.exif_name_model{
	display: none;
}
.exif_value_model{
	font-family: "standard 07_63";
	color: #7D98D0;
}
.textpage{
	font-family: Candara, Verdana, Arial;
	leading: 2px;
	font-size: 13px;
}
.textpage_title{
	color: #7D98D0;
	leading: 8px;
	font-size: 23px;
	font-style: italic;
}
.textpage_body{
}
.textpage_form{
}
.textpage_forminput{
	/* You need to specify all required styles in this class because they are not inherited from the main textpage class because of restrictions with input fields in flash. 
	Please use 0x color formatting instead of #  
	font-family onyl supports a single font value. Make sure its a font that is globally supported*/
	color: 0x9bb0db;
	font-size: 15;
	font-family: Arial;
}
.textpage_forminputback{
	/* This specific class only supports the color style. Please use 0x color formatting instead of # */
	color: 0xEFF2FA;
}
.filemod {
	font-family: "standard 07_53";
}
.filemod_title {
	font-family: "standard 07_63";
}
.filemod_description {
}
.imagebuttons_help {
	font-family: "standard 07_53";
}
.audioplayer {
	font-family: "standard 07_53";
	color: #7D98D0;
}
.audioplayer_main {
	font-family: "standard 07_53";
	font-size: 8px;
}
.audioplayer_id3 {
	font-family: "standard 07_53";
}
.audioplayer_id3_first {
	font-family: "standard 07_63";
}
.audioplayer_tracklist {
	font-family: "standard 07_53";
}
.text_items {
	font-family: "standard 07_63";
}
.unsupported_items {
}
.unsupported_items_heading {
	font-family: "standard 07_63";
}
.unsupported_items_content {
}
.sharemenu {
	font-family: "standard 07_53";
}